<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="icon" href="../images/LOGO.png">
    <link rel="stylesheet" href="../../../public/css/style_tela_registro.css">
    <link rel="icon" href="LOGO.png">
    <link rel="stylesheet" href="/public/css/cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<body>
    <div class="cadastro" class="cadastro">
        <div class="img-cadastro"></div>
        <div class="form">
    <div class="logo">
        <img src="/public/img/Logo_completa.png">
    </div>
    <div class="titulo">
        <h3>Criar uma conta</h3>
    </div>
    <div class="formulario">
        <form action="" class=ficha">
             <input type="text" id="Nome" name="Nome" placeholder="Nome" class="input" required> <br><br>
             <input type="text" id="Sobrenome" name="Nome" placeholder="Sobrenome" class="input" required><br><br>
             <input type="email" id="email" name="email" placeholder="Email" class="input" required> <br><br>
             <input type="password" id="Senha" name="Senha" placeholder="Senha" class="input" required> <br><br>
             <input type="password" id="Confirmarsenha" name="Confirmarsenha" placeholder="Confirmar Senha" class="input" required> <br><br>
        </form>
        <button class="btn-principal-preto">Registrar-se</button>
        <div class="linha-com-texto">
            <hr class="linha-horizontal"> 
            <p>Ou</p>
            <hr class="linha-horizontal"> 
        </div>
        <div class="btn-icon">
             <button class="google">
               <img src="/public/img/google.webp">
                Entrar com o Google
            </button>
        </div>
        <p class="container-link">Já tem uma conta? <a href="tela_login.html"> Entrar</a></p>
    </div>
</div>
    </div>
  
 
</body>
</html>