*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-img img {
    width: 100px;
    margin-bottom: 20px;
}

.container-titulo{
    margin-bottom: 15px;
    font-family: 'Heebo', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-botao {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(120, 120, 120);
    padding: 10px;
    outline: 0;
}

.login-botao:focus{
    border: 1px solid red;
}

.login-botao:valid{
    border: 1px solid black;
}

::placeholder{
    color: rgb(120, 120, 120);
}

.container-botao-entrar button{
    width: 100%;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 30px;
    
}

.linha-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.linha-horizontal{
    border: none;
    background-color: grey;
    height: 1px;
    width: 8vh;
    margin: 10px;
}

.container-botao-google button{
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid black;
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px 20px;
}

.container-botao-google img{ 
    width: 25px;
    margin-right: 15px;  
}
.container-link{
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.container-link a{
    color: blue;
}

