<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="icon" href="../images/LOGO.png">
    <link rel="stylesheet" href="../../../public/css/style_tela_registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div id="Cadastro">
    <div id="logo">
        <img src="../images/Logo_completa.png">
    </div>
    <div class="Titulo">
        <h3>Criar uma conta</h3>
    </div>
    <div id="Formulario">
        <form action="" id="Ficha">
             <input type="text" id="Nome" name="Nome" placeholder="Nome" class="Botoes" required> <br><br>
             <input type="text" id="Sobrenome" name="Nome" placeholder="Sobrenome" class="Botoes" required><br><br>
             <input type="email" id="email" name="email" placeholder="Email" class="Botoes" required> <br><br>
             <input type="password" id="Senha" name="Senha" placeholder="Senha" class="Botoes" required> <br><br>
             <input type="password" id="Confirmarsenha" name="Confirmarsenha" placeholder="Confirmar Senha" class="Botoes" required> <br><br>
        </form>
        <button id="Registrar">Registrar-se</button>
        <div class="linha-com-texto">
            <hr class="linha-horizontal"> 
            <p>Ou</p>
            <hr class="linha-horizontal"> 
        </div>
        <div class="Butao-icon">
             <button id="Google">
               <img src="../images/google.webp">
                Entrar com o Google
            </button>
        </div>
        <p class="container-link">Já tem uma conta?<a href="tela_login.html">Entrar</a></p>
    </div>
    </div>
  
 
</body>
</html>