@charset "UTF-8";

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('.ttf');
}

:root {
  /*Cores Primárias*/
    --cor-primaria-preto: #000000;
    --cor-primaria-cinza: #ACACAC;
    --cor-primaria-branco: #FFFFFF;

  /*Cores Secundárias*/
    --cor-secundaria-preto: rgba(0, 0, 0, 0.5);
    --cor-secundaria-cinza: rgba(172, 172, 172, 0.5);
    --cor-secundaria-branco: rgba(255, 255, 255, 0.5);

  /*Cores Terciárias*/
  --cor-terciaria-preto: rgba(0, 0, 0, 0.1);
  --cor-terciaria-cinza: rgba(172, 172, 172, 0.1);
  --cor-terciaria-branco: rgba(255, 255, 255, 0.1);

  /*Fontes*/
    --fonte-principal: 'inter', sans-serif;
}

.btn-principal-preto{
    border: 1px solid #000;
    border-radius: 8px;
    background: #000;
    color: #fff;
}

.btn-preto{
  color: #fff;
  border-radius: 8px;
  border: 1px solid #000;
  background: #000;
  cursor: pointer;
}

.input-branco{
width: 100%;
height: 40px;
border-radius: 8px;
padding: 0 0.8rem;
border: 1px solid rgb(120, 120, 120);
outline: 0;
}

.btn{
cursor: pointer;
}