@import url(../css/padrao.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-family: 'Inter', sans-serif;
}

.container-password {
    position: relative;
}

.logo img {
    display: block;
    width: 100%;
    max-width: 180px;
    margin: 5.4rem auto;
    margin-bottom: 5.2rem;
    margin-top: 5.4rem;   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form  input[type=password] { 
    width: 35vh;
    padding: 0.8rem 0.3rem;
    border: 1px solid var(--cor-primaria-preto);
    border-radius: 8px;
}

form .btn-principal-preto {
    width: 35vh;
    padding: 0.8rem 0.3rem;
    margin-top: 20px;
}

.politica-privacidade {
    position: absolute;
    bottom: 4%;
}

.material-symbols-outlined {
    font-size: 18px;
    vertical-align: middle;
}

.politica-privacidade a {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-primaria-preto);
}

.politica-privacidade a:hover {
    text-decoration: underline;
}

.politica-privacidade > a > span {
    font-size: 20px;
    margin-top: -4px;
}

