<!--<?php include_once ROOT_PATH . '/app/views/componentes/head.php'?>-->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title><!--<?php echo $title?>-->
    <!--Link CSS-->
    <link rel="stylesheet" href=".././../../public/css/padrao.css">
    <link rel="stylesheet" href="../../../public/css/header.css">
    <!--Link JS-->
    <script src="../js/jquery-3.7.1.js"></script>
    <!--Link Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header class="container-header">
        <div class="container-logo">
            <img src="../../../public/img/logo-branca.png">
        </div>
        
        <nav class="container-info">
            <ul class="nav-menu">
                <li class="nav-item"><a href="#" class="nav-link">Noway Promo</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa-solid fa-n"></i>Lançamento</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa-solid fa-person"></i>Masculino</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa-solid fa-person-dress"></i>Feminino</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa-solid fa-children"></i>Infantil</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Noway</a></li>
            </ul>

            <!--Nav-Hamburguer-->
            <div class="container-nav">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>

        <!--Barra de Pesquisa-->
        <div class="container-busca">
            <div class="container-pesquisa">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar">
            </div>
       
            <div class="container-icons">
                <a href="#"><i class="fa-regular fa-heart"></i></a>
                <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
                <a href="#"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>

        
    </header>    

    

    <script src="../../../public/js/nav-responsivo.js"></script>
</body>
</html>    