<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promoções</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../images/icons/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="../styles/promocoes.css">
</head>
<body>
    <div class="container-promocoes">
        <div class="promo-frete">
            <i class="fa-solid fa-truck"></i>
            <div class="text">
                <span>Frete Grátis</span><br>
                <p>a partir de R$ 159,99</p>
            </div>
        </div>

        <div class="promo-card">
            <i class="fa-regular fa-credit-card"></i>
            <div class="text">
                <span>Parcelamento</span><br>
                <p>em até 10x sem juros</p>
            </div>
        </div>

        <div class="promo-house">
            <i class="fa-solid fa-house house"></i>
            <div class="topo-loca">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="text">
                <span>Retire grátis nas lojas</span><br>
                <p>sem valor mínimo</p>
            </div>
        </div>

        <div class="promo-cell">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <div class="text">
                <span>Baixe o nosso App</span><br>
                <p>fique por dentro de Ofertas</p>
            </div>  
        </div>
    </div>
</body>
</html>