<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Cookies</title>
    <!--Link CSS-->
    <link rel="stylesheet" href="../../../public/css/politica.css">
    <!--Links da Fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../../public/img/logo-preta.png" alt="Logo Noway">
        </div>
    </header> 

    <main>
        <div class="privacidade">
            <h2>Centro de preferências de privacidade</h2>
            <p>
                Quando você visita um site, ele pode armazenar ou coletar informações no seu navegador, principalmente na forma de cookies. Essas informações podem ser sobre você, suas preferências ou seu dispositivo e são usadas principalmente para fazer o site funcionar como você espera. As informações normalmente não o identificam diretamente, mas podem oferecer uma experiência na web mais personalizada. Como respeitamos seu direito à privacidade, você pode optar por não permitir alguns tipos de cookies. Clique nos títulos das diferentes categorias para saber mais e alterar nossas configurações padrão. No entanto, o bloqueio de alguns tipos de cookies pode afetar sua experiência no website e os serviços que podemos oferecer.
            </p>
        </div>
        <div class="necessarios">
            <h2>Gerenciar preferências de consentimento</h2>
            <h3>Cookies Necessários</h3>
            <p>
                 Estes cookies são necessários para que o website funcione e não podem ser desligados nos nossos sistemas. Normalmente, eles só são configurados em resposta a ações levadas a cabo por si e que correspondem a uma solicitação de serviços, tais como definir as suas preferências de privacidade, iniciar sessão ou preencher formulários. Pode configurar o seu navegador para bloquear ou alertá-lo(a) sobre esses cookies, mas algumas partes do website não funcionarão. Estes cookies não armazenam qualquer informação pessoal identificável.
            </p>
            <h3>Cookies de Desempenho</h3>
            <p>
                 Estes cookies permitem-nos contar visitas e fontes de tráfego, para que possamos medir e melhorar o desempenho do nosso website. Eles ajudam-nos a saber quais são as páginas mais e menos populares e a ver como os visitantes se movimentam pelo website. Todas as informações recolhidas por estes cookies são agregadas e, por conseguinte, anónimas. Se não permitir estes cookies, não saberemos quando visitou o nosso site.
            </p>
            <h3>Cookies de Funcionalidade</h3>
            <p>
               Estes cookies permitem que o site forneça uma funcionalidade e personalização melhoradas. Podem ser estabelecidos por nós ou por fornecedores externos cujos serviços adicionámos às nossas páginas. Se não permitir estes cookies algumas destas funcionalidades, ou mesmo todas, podem não atuar corretamente.
            </p>
            <h3>Cookies de Publicidade</h3>
            <p>
                Estes cookies podem ser estabelecidos através do nosso site pelos nossos parceiros de publicidade. Podem ser usados por essas empresas para construir um perfil sobre os seus interesses e mostrar-lhe anúncios relevantes em outros websites. Eles não armazenam diretamente informações pessoais, mas são baseados na identificação exclusiva do seu navegador e dispositivo de internet. Se não permitir estes cookies, terá menos publicidade direcionada.
            </p>
        </div>
        <div class="controle">
            <h2>Controle de Cookies</h2>
            <p>
                Você tem o direito de decidir se aceita ou recusa cookies. A maioria dos navegadores permite que você controle cookies por meio de suas configurações. No entanto, se você optar por desativar cookies, algumas funcionalidades do nosso site podem não funcionar corretamente.
                Para mais informações sobre como controlar cookies, consulte as configurações do seu navegador ou visite sites de informações sobre cookies.
            </p>
        </div>
    </main>

</body>
</html>