<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="icon" href="../../../public/img/logo.png">
    <link rel="stylesheet" href="../Pagina inicial/Style_Tela_inicial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="container-header">
        <div class="container-img">
            <img src="../../../public/img/logo-branca.png">
        </div>
        
        <nav class="container-info">
            <li><a href="">Noway Promo</a></li>
            <li><a href="">Lançamento</a></li>
            <li><a href="">Masculino</a></li>
            <li><a href="">Feminino</a></li>
            <li><a href="">Infantil</a></li>
            <li><a href="">Noway</a></li>
        </nav>
        <!---->

        <div class="container-busca">
            <div class="container-pesquisa">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar">
            </div>
       
        <div class="container-icons">
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
            <i class="fa-regular fa-user"></i>
        </div>
    </div>
        
    </header>
    

</body>
</html>