<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Recuperação de senha</title>
    <link rel="stylesheet" href="../../../public/css/tela-recuperacao-senha.css">
</head>
<body>
    <div class="container-password">
        <div class="logo">
            <img src="../../../public/img/logo-sem-fundo.png">
        </div>
        <form action="" method="post" class="form-senha">
            <input type="password" placeholder="Nova Senha">
            <input type="password" placeholder="Confirme sua senha">
        </form>
    </div>
</body>
</html>